body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}