:root {
  --color-primary: rgb(0, 0, 140);
  --color-primary-light: rgb(245, 245, 255);

  --color-success: rgb(0, 150, 50);
  --color-success-light: rgb(220, 255, 220);

  --color-error: rgb(220, 20, 80);
  --color-error-light: rgb(255, 220, 230);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  line-height: 0;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(20, 150, 250);
  text-underline-offset: 2px;
}
